@import '../../reset.scss';


.categories {

    margin-bottom: 70px;

    &-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &-item {
        background-color: rgb(245, 244, 244);
        // width: 23%;
        width: 100%;
        padding: 20px 15px 10px 20px;
        position: relative;
        border-radius: $border;
        cursor: pointer;


        &-title{
            font-size: $fz-semi-big;
            margin-bottom: 10px;
        }
        &-desc{
            max-width: 80%;
        }
    }

    &-item img {
        width: 100%;
        display: block;
        margin: -50px 0 0 0;
        transition: transform 0.3s ease;
    }

    &-item:hover img {
        transform: scale(1.05);
    }
}
