@import '../../reset.scss';

.header{
    padding: 10px 0;
    position: fixed;
    max-width: 100%;
    background-color: #fff;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 2px 4px 0 rgba(8, 9, 10, 0.0784313725);


    &-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    //
    &-logo-wrapper{
        display: flex;
        gap: 40px;
    }
    &-catalog{
        background-color: $color-black;

        color: #fff;
        border-radius: $border;
        padding: 10px 20px;

        &:hover{
            background-color: $color-black-hover;
        }
    }

    //

    &-search{
        border: 1px solid $color-black;
        border-radius: $border;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        max-width: 600px;
        width: 100%;

        &-input{
            flex: 1;
        }

        &-button{
            & img{
                width: 25px;
                height: 25px;
            }
        }
    }
    
    //
    &-buttons{
        display: flex;
        &-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            min-width: 111px;
            border-radius: 10px;
            padding: 10px 15px;

            &:hover{
                background-color: rgb(240, 239, 239);
            }

            & img{
                width: $icon;
                height: $icon;
            }
        }
    }
}


// .cart{
//     position: absolute;
//     top: 0;
//     width: 400px;
//     height: 110vh;
//     right: -400px;
//     padding: 20px;
//     background-color: #fff;
//     box-shadow: 0 0 0 3px rgba(8, 9, 10, 0.0784313725);
//     transition: right ease 0.3s;


//     &-wrapper{

//         &-row{
//             display: flex;
//             justify-content: space-between;
//             border-bottom: 1px solid #cdcdcd;
//             padding-bottom: 16px;
//             margin-bottom: 30px;
//         }
//         &-close{
//             width: $icon;
//             height: $icon;
//             cursor: pointer;
//         }
//     }

//     &-item{
//         display: flex;
//         justify-content: space-between;
//         border-bottom: 1px solid #cdcdcd;
//         padding-bottom: 16px;
//         margin-bottom: 30px;


//         &-img{
//             width: 30%;
//             height: 106px;
//             object-fit: contain;
//             // width: 108px;

//         }
//         &-text{
//             width: 40%;
//             display: flex;
//             flex-direction: column;
//             justify-content: space-between;
//             align-items: start;
//         }
//         &-cost{
//             width: 15%;
//             font-weight: 600;
//         }

//         &-title{
//             font-size: $fz-medium;
//             font-weight: 500;
   
//         }
//         &-category{
//             color: gray;
//         }
//     }


//     &-total{
//         background-color: $color-blue;
//         border-radius: $border;
//         width: 100%;
//         color: #fff;
//         padding: 10px 20px;
//         text-align: center;
//         &:hover{
//             background-color: $color-blue-hover;
//         }
//     }
// }





@media (max-width:1440px){

    .header{
        &-logo-wrapper {
            gap: 75px;
        }
        &-wrapper {
            gap: 16px;
        }
    }

}



@media (max-width:1325px){

    .header{
        &-wrapper {
            padding: 0 10px;
        }
    }

}


@media (max-width:930px){

    .header{
        &-wrapper {
            flex-direction: column;
        }
        &-logo-wrapper {
            width: 100%;
            justify-content: space-between;
        }
    }

}