@import '../../reset.scss';

.header{
    padding: 0 10px;
    position: fixed;
    max-width: 100%;
    background-color: #fff;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 2px 4px 0 #08090a14;
    // border-bottom: 2px solid $semi-gray;
    &-wrapper{
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
    }
    &-buttons{
        display: flex;
        gap: 10px;
    }
    &-btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 15px;
        gap: 5px;
        font-size: 15px;
        // color: rgb(102, 102, 102);
        color: black;
        //test
        min-width: 116px;
        &:hover{
            background-color: rgb(228, 227, 227);
            border-radius: 20px;
        }
        & img{
            max-width: 25px;
            height: 25px;
        }
    }
    &-catalog-btn{
        display: flex;
        align-items: center;
        background-color: #262626;
        color: #fff;
        padding-left: 20px;
        padding-right: 10px;
        border-radius: 15px;
        font-size: 16px;
        min-width: 120px;
        &:hover{
            background-color: #464545;
        }
        .header-catalog-btn-img{
            transform: rotate(180deg);
            transition:  all 0.3s ;
        }
    }
    &-nav{
        display: flex;
        gap: 40px;
        position: relative;
    }
    &-drop-down-list{
        position: absolute;
        top: 145%;
        left: -7px;
        height: 100vh;
        width: 320px;
        overflow: hidden;
        transition: height 0.9s ease;
        background-color: #ffffff;
        box-shadow: 0 0 0 4px #08090a14;
    }
    &-drop-down-item{
        padding-left: 10px;
        &:hover{
            background-color: #f1f0f0;
        }
        & a{
            display: flex;
            align-items: center;
            padding: 10px 0;
            gap: 5px;
        }
        & img{
            width: 35px;
        }
    }
    &-search {
        border: 2px solid #464545 ;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 600px; 
        width: 100%;
        padding: 5px 10px;

        & input {
            flex: 1; 
            width: 100%;
        }
    }

    .cart{
        &-menu {
            position: absolute;
            top: 0;
            right: -460px;
            width: 400px;
            height: 100vh;
            // background-color: #edecec;
            background-color: #ffffff;
            box-shadow: 0 0 0 3px #08090a14;
            transition: right 0.3s; 
            padding: 20px;
        }
        .move-right {
            right: 0;
        }
        
        &-top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #cdcdcd;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
        &-close{
            width: 25px;
            cursor: pointer;
        }

        &-item{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #cdcdcd;
            padding-bottom: 16px;
            margin-bottom: 30px;

                &-info{
                    max-width: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
                &-img{
                    // width: 80px;
                    width: 20%;
                }
                &-title{
                    font-size: 15px;
                }
                &-cost{
                    width: 20%;
                    font-weight: 500;
                }
                &-category{
                    font-size: 15px;
                    color: $semi-gray ;
                }
                &-remove{
                    font-size: 13px;
                    color: #434343;
                }
        }

        &-total{
            &-text{
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
            }
            &-sum{
                font-weight: 600;
            }
            &-btn{
                width: 100%;
                background-color: #348df3;
                color: #fff;
                padding: 8px 0;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }

        @media(max-width: 1300px){
            .header{
                &-search {
                    max-width: 500px; 
            }
        }
    }   

    @media(max-width: 1198px){
        .header{
            &-search {
                max-width: 330px; 
        }
    }
    }


    @media (max-width: 600px) {
        .header-search {
            max-width: 90%; 
        }
    }

    .search-img {
        max-width: 30px;
        height: 30px;
        border: 2px solid black;
        border-radius: 20px;
        padding: 5px;
        cursor: pointer;
    }
}

@media  (max-width: 1024px) {
    .header-search {
      order: 3;
      margin: 0 auto;
      margin-bottom: 5px;
    }
}


@media  (max-width: 768px) {
    .header{
        &-nav {
            width: 100%;
            justify-content: space-between;
        }
        &-buttons {
            justify-content: center;
            width: 100%;
            gap: 10px;
        }   
    }
}


@media  (max-width: 425px) {
    .header .cart-menu{
        width: 100%;
    }
    .header .cart-item-img {
        width: 25%;
    }
}



@media  (max-width: 375px) {
    .header{
        &-btn{
            min-width: 100px;
        }
    }
}

