
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Rubik:wght@300;400;500;600;700&display=swap');

body{
     font-family: 'Roboto', 'Rubik', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
    height: auto;
}

input, button{
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    font-family: 'Roboto', 'Rubik', sans-serif;
}

a, li{
    color: inherit;
    text-decoration: none;
    list-style: none;
    color: #42454a;
}

.container{
  max-width: 1250px;
  margin: 0 auto;
}

.hero.xl-container {
  margin: 0 auto;
  max-width: 1920px;
  margin-bottom: 40px;
}

.df{
  display: flex;
}


 //animated text

 .animated-text {
  position: relative; 
  display: inline-block; // Чтобы линия обернула текст, если необходимо
  overflow: hidden; // Если текст будет переполнять линию, это предотвратит это
  padding-bottom: 4px;
  letter-spacing: 3px;


  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-origin: center;
    width: 0;
    height: 2px;
    background-color: #42454a;
    transition: width 0.8s ease, transform 0.3s ease;
  }

  &:hover:before {
    width: 50%;
    transform: translateX(-50%) scaleX(2);
  }

  &:hover:after {
    width: 50%;
    transform: translateX(-50%) scaleX(2);
  }
}