.card{
    &-item{
        background: #E1EDE6;
        padding: 20px 20px 30px 20px;
    }
    &-img{
        margin-bottom: 20px;
    }
    &-subtitle{
        color: #86928B;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    &-title{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 8px;
    }
    &-description{
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    &-cost{
        color: #598D66;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    &-button{
        color: #598D66;
        font-size: 20px;
        padding: 21px 106px;
        text-align: center;
        border: 1px solid #598D66;
        &:hover {
            background: #598D66;
            color: #fff;
          }
          &:active {
            background: #376B44;
            color: #fff;
          }
          &:focus{
            border: 1px solid #598D66;
          }
    }
}

@media (max-width: 690px){
    .card{
        &-item{
            width: 290px;
        }
        &-button{
            padding: 21px 0;
            width: 100%;
        }
    }
  }