@import '../../reset.scss';


.hero{
    margin-top: 120px;
    margin-bottom: 70px;

    &-banner{
        &-wrapper{
            max-width: 100%;
            margin: 0 auto;
        }
    }



    .banner-swiper {
        --swiper-navigation-size: 26px;
        // --swiper-navigation-top-offset: 50%;
        --swiper-navigation-sides-offset: 25px;
        --swiper-navigation-color: #0561ca;
    
        .swiper-button-prev:after,
        .swiper-button-next:after {
            background-color: #fff;
            padding: 10px 20px 10px 16px;
            border-radius: 50%;
            box-shadow: 2px 2px 4px 2px rgba(8, 9, 10, 0.0784313725);
        }
    
        .swiper-button-next:after {
            background-color: #fff;
            padding: 10px 16px 10px 20px;
            border-radius: 50%;
        }
    }
    
}


@media(max-width:930px){
    .hero{
        margin-top: 225px;
    }
    .hero .banner-swiper .swiper-button-prev:after, .hero .banner-swiper .swiper-button-next:after {
        display: none;
    }
}


@media(max-width: 500px){
    .hero{
        display: none;
    }
}